.App {
  display: flex;
  flex-direction: column;
}
.timer {
  margin-top: 20px;
  text-align: center;
}
.button {
  margin: 5px;
}
.time {
  background-color: blue;
  max-width: 100%;
  font-size: 120%;
  color: white;
  transition: all 200ms ease;
}
